body
{
     margin: 0px;
     padding: 0px;
     background-attachment: fixed;
     background-position: bottom;
     background-repeat: repeat-x;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
     /*background-color: #d5d5d5;*/
     background-color: #3b3b3b;
     padding-bottom: 45px;
}

.ui-widget
{
     font-size: 10pt !important;
}

.header
{
     background-position: top;
     background-image: url('../images/header-background.png');
     background-repeat: repeat-x;
     /*margin-left: 0px;*/
     background-color: #CCCCCC;
}

h1,h2,h3,h4,h5,h6
{
     font-family: Cambria,Georgia,Myriad;
     padding: 0px;
     margin: 0px;
}

.xmpplink
{
     padding-right: 20px;
}

#tableControl div
{
     padding: 0px;
     padding-top: 0px;
}

#tableControl div table
{
     cellpadding: 0;
     cellspacing: 0;
     border: 1;
     border-color: #DFDFDF;
}

#contentholder
{
     clear: both;
     padding-bottom: 45px;
     background-color: #3b3b3b;
     margin-left: 15px;
     margin-right: 15px;
}
   
.menu
{ 
     position: absolute;
     z-index: 100000;
     min-width: 200px;
}

.menuLink
{
     cursor: pointer;
     text-decoration: none !important;
     color: #FFFFFF;
     display: inline-block;
     padding: 10px;
     vertical-align: middle;
}

.formLine
{
     clear: both;
     border-bottom: 1px solid #CCCCCC;
     margin: 10px;
}

.formLabel
{
     display: inline-block;
     white-space: nowrap;
     min-width: 150px;
     font-size: 10pt;
     margin-right: 10px;
     display: inline-block;
     vertical-align: top;
}


.formData
{
     font-size: 10pt;
     display: inline-block;
     vertical-align: top;
}

#tabs
{
     font-size: 10pt;
}

#calendar {
     width: 900px;
     margin: 0 auto;
}

.WatermarkedField
{
     color: #887e72;
     font-style: italic;
}

#ContentDiv
{
     background-color: #FFFFFF;
     clear:both;
     overflow: auto;
}

.watermark
{
     color: gray;
     font-style: italic;
}

ul {
     list-style-position: inside;
}

li 
{
     margin-left: 10px;
}

#ContentTable
{
     margin-bottom: 25px;
     background-color: #FFFFFF;
}

#DefaultHeader
{
     margin: auto;
     margin-bottom: 15px;
}

.LogInBox
{
     background-color: #FFFFFF;
     text-align: left;
     padding: 5px;
     border: solid 1px #CCCCCC;
     color: #000000;
     max-width: 400px;
     min-width: 225px;
     min-height: 250px;
}


#tableControl li
{
     font-size: 10pt;
}

#tableControl div table tr td
{
     padding: 5px;
     text-align: left;
     font-size: 10pt;
}

.watermarkPW
{
     color: #FFFFFF;
     font-style: italic;
     background-image: url('/images/password-watermark.png');
     background-repeat: no-repeat;
}

.register
{
     margin: auto;
     width: 800px
}       

.orgList
{
     display: inline-block;
     margin: 5px;
}

.sign-in
{
     float: right;
     padding: 5px;
     text-align: center;
     width: 200px;
     color: #FFFFFF;
}

.Field_Decimal
{
     
}

.itemrow, .alternatingitemrow
{
     cursor: pointer;
}

.attachmentLink
{
     background-color: #CCCCCC;
     white-space: nowrap;
     margin: 5px 5px 5px 0px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     font-size: 12pt;
     padding: 5px;
     float:left;
}

.attachmentLink a
{
     margin-top: 10px;
}

.sign-in-text, .sign-out-text
{
     color: #FFFFFF;
     padding-top: 11px;
     font-size: 15px;
     font-weight: normal;
     text-align: center;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

.ui-widget
{
     font-family: Cambria;
}

a.button {
    background: transparent url('../images/button-nav-right.png') no-repeat scroll top right;
    color: #444;
    display: inline-block;
    font: normal 12px arial, sans-serif;
    height: 36px;
    margin-right: 0px;
    padding-right: 20px; /* sliding doors padding */
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    white-space: pre;
    width: 130px;
}

a.button span {
    background: transparent url('../images/button-nav-span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 12px 0 5px 24px;
}

a.button:active {
    /* background-position: bottom right;
    color: #000; */
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    /*background-position: bottom left;
    padding: 12px 0 4px 24px; /* push text down 1px */
    /* must fix this later as per: http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html */
}

.navigation
{
     height: 38px;
     vertical-align: middle;
     text-decoration: none;
     margin: auto;
     text-align: center;
     display: table;
}

.navigation-button
{
     background-image: url("/images/button-nav-back.png");
     background-position: top;
     background-repeat: repeat-x;
     height: 38px;
     cursor: pointer;
     text-decoration: none;
     font-size: 13px;
     text-align: center;
     outline: none;
     position: relative;
     width: 150px;
     display: table-cell;
}

.navigation-button-text
{
     padding-top: 11px;
     height: 38px;
     width: 90px;
     text-align: center;
}

#tabs
{
     font-size: 10pt;
}

#calendar
{
     width: 100%;
     margin: 0 auto;
}

.banner
{
     border: solid 1px #cdcccc;
     background-color: #ddebf2;
     background-repeat: repeat-x;
     margin-top: 0px;
     padding-top: 0px;
}

.banner-header
{
     margin-left: 10px;
     margin-right: 10px;
}

.banner-header-text
{
     padding-top: 20px;
     letter-spacing: 0.08em;
}

.banner-content-text
{
     font-size: 14px;
     letter-spacing: 0.1em;
     line-height: 1.5em;
}


.leftcolumn, .rightcolumn
{
     width: 95%;
     position: relative;
}

.leftcolumn
{
     float: left;
}

.rightcolumn
{
     float: left;
}

a
{
     text-decoration: none;
     color: #1b50ab;
}

a:hover
{
     text-decoration: underline;
}

.arrow
{
     float: left;
     height: 24px;
     width: 24px;
     padding-top: 10px;
}

.content-header-title
{
     float: left;
     padding-top: 6px;
     padding-bottom: 0px;
     font-weight: bold;
     font-size: 2.0em;
     letter-spacing: .04em;
     font-family: Cambria,Georgia,Myriad;
}

.section-container
{
     width: 100%;
     padding-bottom: 15px;
}

.section-header-title
{
     float: left;
     padding-left: 20px;
     padding-bottom: 10px;
     font-weight: bold;
     font-size: 1.5em;
     letter-spacing: .04em;
     font-family: Cambria,Georgia,Myriad;
}

.section-text, p, .node
{
     font-family: Cambria,Georgia,Myriad;
     font-size: 11pt;
}

.region
{
     font-weight: bold;
}

.content
{
     font-family: Cambria,Georgia,Myriad;
     font-size: 11pt;
     font-weight: 300;
     letter-spacing: 0;
     line-height: 1.2em;
     padding-top: 15px;
}

.platforms
{
     width: 100%;
}

.platform-cell
{
     height: 80px;
     width: 33%;
}

.people
{
     padding-top: 10px;
     padding-bottom: 10px;
     /*background-image: url("/images/about/people-background.png"); */
     background-repeat: repeat;
     width: 100%;
     margin-bottom: 10px;
     margin: auto;
     min-width: 600px;
}

.login-box
{
     margin: auto;
}

.footer-text
{
     margin-left: 18px;
     margin-top: 65px;
     font-size: 13px;
}

.footer-links-div
{
     margin-right: 15px;
     float: left;
     color: #000000;
     text-decoration: none;
}

.footer-links
{
     color: #000000;
     font-family: Cambria,Georgia,Myriad;
     text-decoration: none;
}

#footer
{
     /*background-image: url("/images/footer-background.jpg");*/
     /* background-attachment: scroll;
     background-position: bottom;
     background-repeat: repeat-x; */
     background-color: #ebebeb;
     color: #000000;
     font-size: 10pt;
     vertical-align: bottom;
     z-index:4;
     opacity: .95;
     padding-top: 6px;
     padding-bottom: 6px; 
}

#comparison th
{
}

#comparison tr
{
   text-align: center;
   height: 35px;
}

#comparison tr:hover
{
   color: Blue;
   background-color: lightblue;
   cursor: default;
   text-align: center;
}

.modalPopup
{
     height: 100%;
     background: rgba(64, 64, 64, 0.5);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f404040, endColorstr=#7f404040);
}

.modalPopupPanel
{
     border: 1px solid black;
     background-color: #FFFFFF;
     padding-bottom: 10px;
}

.formline
{
     clear: both;
     width: 800px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 90px;
}

.formheader
{
     clear: both;
     padding-left: 45px;
}

.formvalue
{
     clear: both;
     float: right;
     padding-left: 90px;
     width: 300px;
}

.keyboardbutton
{
     width: 50px;
     height: 40px;
}

.blog
{
      clear:both;
      -moz-border-radius: 6px;
      -webkit-border-radius:6px;
      border-radius: 6px;
      border: solid 2px black;
}

.blog-headline
{
     font-family: Bodoni MT;
     color: #FFFFFF;
     margin: 0;
     padding: 18px 5px 5px 12px;
     font-size: 30px;
     font-weight: bold;
     background-color: #FFFFFF;
}

.blog-subheadline
{
     font-family: Verdana, Arial;
     color: #444;
     margin: 0;
     padding: 5px 5px 5px 5px;
     font-size: 12pt;
     letter-spacing: -2px;
     font-weight: bold;
}

.blog-body
{
     font-family: Century Gothic;
     color: #000000;
     margin: 0px;
     font-size:13px;
     font-weight:normal;
     line-height:175%;
     padding: 15px 0px 0px 0px;
}

.roundcorners
{
     min-width: 250px; 
     background-color: #FDEEF4;
     color: Black;
}

.roundcorners p 
{
     margin: 0 10 px;
}

.twitter-status
{
     font-family:georgia,serif;
     color:#381704;
     font-size:12px;
     font-weight:normal;
     line-height:150%;
     padding:0px;
     background-color: #F5EDE3;
     padding: 15px;
}




/*	Global classes	*/
.DDMainHeader
{
     color:#888;
     padding-bottom: 12px;
     border-bottom: 1px dotted #bbbbbb;
}

.DDSubHeader
{
     margin-bottom: 10px;
     font:1.2em Trebuchet MS, Arial, sans-serif;
     color: #888;
}

.DD
{
     padding: 0px 8px;
     font-size: 9pt;
}

.DDLightHeader
{
     background-color: #F7F7FF;
     font-size: 10pt;
     font-family: Cambria,Georgia,Myriad;
     padding-right: 40px;
     min-width: 100px;
} 

.DDTextBox, .DDDropDown
{
     color: #666;
     border: solid 1px #dcdcdc;
     background-color: #FEFEFE;
}

.DDDropDown
{
}

.DDFilter
{
     color:#666;
}

.DDControl
{
    padding: 0px;
    color: #666;
}

.DDFloatLeft
{
     float:left;
}

.DDFloatRight
{
     float:right;
}

.DDFooter
{
     background-color: #FFF;
     color: #000;
}

.DDSelected
{
     background-color: #c1ffc0;
     color: #000;
     border: 1px solid black;
}

div.DDNoItem
{
     color:Red;
}

.DDValidator
{
     color: #000000;
     background-color: #ffecec;
}


/*	Navigation	*/

div.DDNavigation
{
     position: relative;
    top: -28px;
    margin-bottom: -10px;
    padding: 0px 5px;
}

div.DDNavigation img
{
    position: relative;
    margin-top: 0em;
    padding: 0px 8px;
    border: none;
    background-color: #fff;
}
div.DDNavigation a
{
    text-decoration: none;
    background-color: #fff;
    padding-right: 8px;
    top: -.2em;
    left: .25em;
}
div.DDNavigation a:hover
{
    color: #000099;
    text-decoration: underline !important;
}


/*	Details VIEW/EDIT	*/
table.DDDetailsTable
{
     color: #000000;
     background-color: #FCFDFE;
     border: 1px solid #dbddff;
     border-bottom-width: 3px;
     width: 100%;
}

table.DDDetailsTable a
{
     text-decoration: none;
     padding-right: 6px;
}

table.DDDetailsTable a:hover
{
    color: #000000;
    text-decoration: underline !important;
}

table.DDDetailsTable .td
{
     padding: 3px 6px;
     border: 1px solid lightgray;
     border-bottom-style: dotted;
     font-size: 10pt;
}


/*	DDGridView/DDListView	*/
table.DDGridView, table.DDListView
{
     width: 100%;
     color: #000;
     border:solid 1px #dbddff;
     font-weight: normal;
}

table.DDGridView .th, table.DDGridView .td, table.DDListView .th, table.DDListView .td
{
     white-space: nowrap;
     font-size: 10pt;
     font-weight: normal;
     border: 1px solid #d3d3d3;
}

table.DDGridView .th, table.DDListView .th
{
     /*background-: url(DynamicData/Content/Images/header_back.gif) repeat-x;*/
     line-height:1.3em;
     text-align: left;
     border:solid 0px #d3d3d3;
     background-color: #deb887;
}

table.DDGridView .th a, table.DDListView .th a
{
     color: #000000;
     text-decoration: none;
}

table.DDGridView .td, table.DDListView .td
{
     border: dotted 0px #d3d3d3;
     border-left-width:0px;
     border-right-width:0px;
     padding: 0px;
}

table.DDGridView .td a, table.DDListView .td a
{
     color: #000;
     text-decoration: none;
     margin-right: 6px;
     
}

table.DDGridView .DDSelected a, table.DDListView .DDSelected a
{
     color: #000;
     text-decoration: none;
     margin-right: 6px;
     
}

table.DDGridView .DDSelected a:hover, table.DDListView .DDSelected a:hover
{
     color: #000099;
     text-decoration: underline;
}

table.DDGridView .td a:hover, table.DDListView .td a:hover
{
     color: #000099;
     text-decoration: underline;
}

/*	DataPager	*/
div.DDPager
{
    padding: 0px 6px;
    color: #000;
}


/* Bottom hyperlink design*/
div.DDBottomHyperLink
{	
}
div.DDBottomHyperLink a
{
    color: #839ce7;
    text-decoration: none;
}
div.DDBottomHyperLink a:hover
{
    color: #000099;
    text-decoration: underline !important;
}
div.DDBottomHyperLink img
{
    padding-right: 5px;
    border: none;
}

.tree td div {
     height: 20px !important
}

.RowStyle
{
     border-bottom: none;
     background-color: #FFFFFF;
     border: solid 1px lightgray;
     padding: 3px;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
}

.AlternatingRowStyle
{
     border-bottom: none;
     background-color: #F4F7F9;
     border: solid 1px lightgray;
     padding: 3px;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
}

.HoverRowStyle
{
     border-bottom: none;
     background-color: #f0fcff;
     border: solid 1px lightgray;
     padding: 3px;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
}

.CreditRowStyle
{
     background-color: #C1FFC1;
     border: solid 1px lightgray;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
     color: Black;
}

.DebitRowStyle
{
     background-color: #FFE9E8;
     border: solid 1px lightgray;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
     color: Black;
}

.LedgerItemHoverRowStyle
{
     border-bottom: none;
     background-color: #FFFFFF;
     border: solid 1px lightgray;
     padding: 3px;
     font-size: 11pt;
     font-family: Cambria,Georgia,Myriad;
}


#orderOverlay {
    /* stretch the overlay by attaching all four corners */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* use any background color you like; rgba would be nice, but older IE will ignore it*/
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: Black;
    text-align: center;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* the image is 50x57, so we use negative margins of 1/2 that size to center it*/
    margin: -28px 0 0 -25px; 
}

.orderplace_box
{
     display: inline-block;
     max-width: 280px;
     text-align: left;
     vertical-align: top;
     border-left: 1px solid #eeeeee;
     border-top: 1px solid #eeeeee;
     margin-top: 10px;
     margin-bottom: 5px;
}