﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Navigation.ascx.cs" Inherits="Account_Navigation" %>
<div style="float:right; clear:right;">
     <a href="<%# BasePage.WeavverMaster.FormatURLs("~/account/changepassword") %>">Change Password</a>
</div>